<!doctype html>

<html>
<head>
    <title>New Game Creation</title>
</head>
<link rel="stylesheet" href="./static/style.css">
<h1>
    Welcome to Vermuten!
</h1>
<h2>
    Game Key: {{ game_key }} | Admin Key: {{ admin_key }}
</h2>
<h2>
    Riddles
</h2>
<form action="/admin/{{ admin_key }}/add_riddles">
  <label for="guess">Riddle #1:</label>
  <input type="text" id="riddle_1" name="riddle_1" autocomplete="off">
  <br>
  <label for="guess">Answer #1:</label>
  <input type="text" id="answer_1" name="answer_1" autocomplete="off">
  <br>
    <label for="guess">Riddle #2:</label>
  <input type="text" id="riddle_2" name="riddle_2" autocomplete="off">
  <br>
  <label for="guess">Answer #2:</label>
  <input type="text" id="answer_2" name="answer_2" autocomplete="off">
  <br>
    <label for="guess">Riddle #3:</label>
  <input type="text" id="riddle_3" name="riddle_3" autocomplete="off">
  <br>
  <label for="guess">Answer #3:</label>
  <input type="text" id="answer_3" name="answer_3" autocomplete="off">
  <br>
  <input type="submit" value="Start Game">

</form>

</html>
